*{
    margin:0;
    padding:0;
    
}

app-home{
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    display: flex;
    flex-direction: column;
}
.head{
    background-color: #efefef;
}

.add label{
    cursor: pointer;
}

#today span:nth-child(even),
#tomorrow span:nth-child(even){
    background-color: whitesmoke;
}

.material-symbols-outlined{
    cursor: pointer;
}

.close{
    float:right;
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

