*{
    margin:0;
    padding:0;
    
}

app-home{
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    display: flex;
    flex-direction: column;
}
.head{
    background-color: whitesmoke;
}

.add label{
    cursor: pointer;
}

#today > div:nth-child(even),
#tomorrow > div:nth-child(even){
    background-color: whitesmoke;
}

#today .material-symbols-outlined,
#tomorrow .material-symbols-outlined{
    float:right;
    cursor: pointer;
    color: lightgrey;
}

#today .material-symbols-outlined:hover,
#tomorrow .material-symbols-outlined:hover{
    color: initial;
}

.material-symbols-outlined{
    cursor: pointer;
}

.close{
    float:right;
}

.consoleclear{
    cursor:pointer;
    font-family: 'Courier New', Courier, monospace;
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

